vendor/
config/
config/env.config.php
public_html/images/captcha/
public_html/uploads/files/
public_html/teste/
composer.lock
composer.phar
./composer.lock
.idea/
data/upload/
data/DoctrineORMModule/
data/cache
.htaccess
.gitignore
